* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f1f47;
}
.wrapper{
position: relative;
height: 400px;
width: 450px;
background: rgba(255, 255, 255, .15);
box-shadow:  0 8px 32px rgba(31, 38, 135, .37);
border: 1px sold rgba(255, 255, 255, .18);
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}


.input-box{
    width: 320px;
    margin: 30px;
    border-bottom: 2px solid #fff;
}


.input-box label{

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-50%);
    font-size: 1em;
    pointer-events: none;
    color: #fff;
}

.input-box input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #fff;

}


.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 52px;
}
