* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Lato", sans-serif;
}

.outer-box {
     width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #32d8ff, #a8f5ff); 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inner-box {
    width: 400px;    
    padding: 20px 40px;
    /* background-color: white; */
    background: linear-gradient(to top left, #ffffffff,#ffffff33);
    backdrop-filter:blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px  5px  #2773a5;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: black;
}

.signup-header p {
    font-size: 0.8rem;
    color: #555;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    font-weight: bold;
    margin-bottom: 4px;
}

.signup-body p input {

    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;


}

#submit {

    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}


#submit:hover {

    background-color: #2773a5;
}

.signup-footer {
    color: #555;
    text-align: center;
}
.signup-footer p a {
    color: #2773a5;
}